body {
  background: #232830;
  padding: 0px;
  margin: 0px;
  height: 2500px;
}

.page-header {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
}

.topics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-right: 70px; */
  /* padding-left: 50px; */
}
.topics p {
  padding-right: 36px;
}

/* page main */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
}
.logo-main {
  height: 200px;
  width: 190px;
  padding-left: 75px;
}
.header-title {
  font-family: Recursive;
  color: #ff7575;
  font-style: italic;
  font-size: 45px;
  padding-left: 20px;
}
.header-desc {
  font-family: Poppins;
  color: #fff;
  font-size: 18px;
  margin: 0px;
  padding-left: 20px;
}


.menu{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: center;
    /* margin-left: 350px; */
    /* border: 1px solid white; */
    /* width: 850px; */
}
.menu img{
    height: 20px;
    width: 20px;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.menu p{
    color: #909090;
    font-family: Recursive;
    font-style: italic;
}

.card{
  /* border: 1px solid white; */
  background-color: white;
  width: 350px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 11px;
  margin-top: 50px;

}
.card p{
  font-family: Poppins;
  padding-left: 30px;
  padding-right: 30px;
}
.card-title{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 10px;
  /* margin-right: 40px; */
}

.card-body{
  font-weight: 400;
  font-size: 14px;
}

.card-img{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  border-radius: 8px;
}

.card-details{
  color: #0F1217;
  font-size: 14px;
  font-weight: 400;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}

.card-list{
  margin-top: 50px;
}

.pagenation{
  color: white;
  font-family: Recursive;
  font-style: italic;
  display: flex;
  justify-content: center;
}
.pagenation a{
  text-decoration: none;
  color: #909090;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.pagenation a.active{
  color: #FF7575;
  border-top: 1px solid #FF7575;
}
.pagenation a:hover{
  color: #FF7575;
  border-top: 1px solid #FF7575;
}
